{% extends 'main/header.html' %}
{% load static %}

{% block content %}
<div class="container">
	<div class="col s12 m7">
	    <h2 class="header" style="font-family: cursive;">Jingjing Lin</h2>
	    <div class="card horizontal">
	        <img src="{% static 'main/image/20190928_224443.jpg' %}" class="circle" style="width:40%;">
		    <div class="card-stacked">
		        <div class="card-content" style="font-family: sans-serif">
		          <p>I am a PhD student focusing on experimental condensed matter physics under the supervision of <a href="http://www.physics.princeton.edu/~npo/index.html" target="_blank">Prof. Nai Phuan Ong</a> in the Department of Physics, Princeton University. 
		          </p>
		          <p>
		           I am currently actively looking for a position in the industry as a software engineer or a data scientist. I am most familiar with Python and also took data structure and algorithm courses with Java. I did an internship at <a href="https://www.siuvo.com/" target="_blank">Siuvo Inc.</a> in the summer of 2019 working on project related to Optical Character Recognition (OCR) with <a href="https://github.com/tesseract-ocr/tesseract" target="_blank">Tesseract</a>, a very powerful OCR engine powered by neural networks. 
		    	  </p>
		    	  <p>
		    	  	I build this personal website on Google Cloud Platform with <a href="https://www.djangoproject.com/">Django</a> framework. The website is served by Nginx. The design I used is <a href="https://materializecss.com" target="_blank">Materialize</a>. I love learning to code and also love the open source and sharing culture of the coding community. 
		    	  </p>
		    	  <p>
		    	  	Apart from coding, physics, and math, I also enjoy writing Chinese Calligraphy in my spare time.
		    	  </p>
		        </div>
		    </div>
	    </div>
	</div>
</div>






{% endblock %}