{% load static %}
<head>
	<link rel="stylesheet", href="{%static 'tinymce/css/prism.css' %}">
	<link rel="stylesheet", href="{%static 'materialize/css/materialize.css' %}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="shortcut icon" href="{% static 'main/image/favicon.ico' type='image/x-icon' %}">

</head>

<body>
	
	<div class="container">
		<img src="{%static 'main/image/20190928_224443.jpg' %}" class="materialbox responsive-img card" >
	</div>
	<!-- <div style="display: inline-block;">
		<div>This is me</div>
	</div> -->
	
</body>

<link rel="stylesheet", href="{%static 'materialize/js/materialize.js' %}">
<script src="{%static 'tinymce/js/prism.js' %}"></script>
