{% load static %}
<head>
<link rel="stylesheet", href="{%static 'tinymce/css/prism.css' %}">
<link rel="stylesheet", href="{%static 'materialize/css/materialize.css' %}">
</head>

<body>

<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo right">JingjingLin</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">PhotoGallery</a></li>
        <li><a href="/results">Blogs</a></li>
        <li><a href="/login">ChineseCalligraphy</a></li>
      </ul>
    </div>
</nav>
  
{% block content %}
{% endblock %}

</body>

<link rel="stylesheet", href="{%static 'materialize/js/materialize.js' %}">
<script src="{%static 'tinymce/js/prism.js' %}">
</script>
