{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<link rel="stylesheet", href="{%static 'tinymce/css/prism.css' %}">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% if latest_question_list %}
  <div class="row">
  {% for question in latest_question_list %}
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{question.id}}</span>
          <li><a href="/polls/{{ question.id }}/">{{question.question_text }}</a></li>
          <p>{{question.description|safe}}</p>
        </div>
        <div class="card-action">
          <a href="#">Go</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<script src="{%static 'tinymce/js/prism.js' %}">
</script>
